<br>
<div class="formulario1"><!--El fondo blanco permite apreciar el texto e imagenes para IU-->
    <h3 style="text-align: center;">Contacto</h3>
<form>
        <div class="form-group">
         <b> <label for="exampleFormControlInput1">Nombre</label></b>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
        </div>
        <div class="form-group">
               <b> <label for="exampleFormControlInput1">E-mail</label></b>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="user@dominio.com">
              </div>

        <div class="form-group">
         <b> <label for="exampleFormControlTextarea1">Comentario</label></b>
          <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="..." rows="3"></textarea>
        </div>
        <!--Este tipo de boton fasilita al usuario presionarlo es una buena UX-->
        <button type="submit" class="btn btn-primary mb-2 btn-block">Enviar</button>
      </form>
    </div>